@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked~.meme-title .icon {
    transform: rotate(45deg);
    opacity: 1;
}

input[type="radio"]:checked~.meme-title span {
    color: black;
}

input[type="radio"]:checked~.meme-title .meme-img {
    max-height: 100vh;
    opacity: 1;
}

.container {
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.memes-item {
    padding-top: 0.5rem;
    border-top: 0.2em double #b06fab;
}

.meme-title {
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.meme-title>* {
    display: block;
    transition: all .4s .3s linear;
}

.meme-title span {
    color: #b06fab;
}

.icon {
    opacity: 0;
}

.meme-img {
    flex-basis: 85%;
    width: 85%;
    margin: 0 auto;
    padding: 0.5rem;
    object-fit: cover;
    object-position: center;
    max-height: 0;
    opacity: 0;
}

@media (min-width: 660px) {
    .title {
        font-size: 3.5rem;
    }

    .meme-title {
        font-size: 1.5rem;
    }

    .meme-img {
        padding: 0.5rem 3rem;
    }
}

@media (min-width: 1024px) {

    .container {
        width: 80%;
    }

    .memes>*>* {
        cursor: pointer;
    }

    .meme-title {
        font-size: 2rem;
    }

    .meme-img {
        padding: 0.5rem 10rem;
    }
}

@media (hover: hover) {

    .memes:hover .icon {
        opacity: 1;
    }

    .memes-item:hover>.meme-title .icon {
        transform: rotate(45deg);
    }

    .memes:hover span {
        color: black;
    }

    .meme-title:hover>.meme-img {
        max-height: 100vh;
        opacity: 1;
    }
}