@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~.meme-title .icon {
    transform: rotate(45deg);
    opacity: 1;
}

input[type="checkbox"]:checked~.meme-title span {
    color: black;
}

input[type="checkbox"]:checked~.meme-img {
    max-height: 100vh;
}

input[type="checkbox"]:checked~.meme-img>* {
    scale: 1;
    opacity: 1;
}

.container {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.memes-item {
    padding-top: 0.5rem;
    border-top: 0.2em double #b06fab;
}

.meme-title {
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.meme-title>* {
    display: block;
    transition: all .5s;
}

.meme-title span {
    color: #b06fab;
}

.icon {
    opacity: 0;
}

.meme-img {
    max-height: 0;
    width: 85%;
    transition: all .5s .5s linear;
    margin: 0 auto;
    padding: 0.3rem;
}

.meme-img img {
    scale: 0;
    opacity: 0;
    transition: all .3s .5s linear;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 660px) {
    .title {
        font-size: 3.5rem;
    }

    .meme-title {
        font-size: 1.5rem;
    }

    .icon {
        font-size: 1.5rem;
    }

    .meme-img {
        width: 60%;
    }
}

@media (min-width: 1024px) {

    .memes>*>* {
        cursor: pointer;
    }

    .meme-title {
        font-size: 2rem;
    }

    .icon {
        font-size: 2rem;
    }

    .meme-img {
        width: 50%;
    }
}

@media (hover: hover) {
    .memes:hover .icon {
        opacity: 1;
    }

    .memes:hover span {
        color: black;
    }

    .memes>*>*:hover~.meme-img,
    .meme-img:hover {
        max-height: 100vh;
    }

    .memes>*>*:hover~.meme-img>*,
    .meme-img:hover>img {
        scale: 1;
        opacity: 1;
    }

    .memes-item:hover>.meme-title .icon {
        transform: rotate(45deg);
    }
}